.footer>p{
    color:white;
    font-size:12px;
    padding-top:0px;
    padding-bottom:0px;
}

.copyright{
    margin-top:15px;
}

.creators{
    margin-top:6px;
}

footer{
    padding:0px;
    background-color:black;
}

#intro-reduce{
    font-size:22px;
}

.navbar-nav{
    font-size:11px;;
}

.navbar-brand > img {
    max-width: 6%;
    float:left;
    clear:left;
}

.navbar-brand > span{
    padding-left:10px;
}

.btn-rush {
    font-size: 12px;
    color:#fff;
    background: 0 0;
    font-weight: normal;
    border: 2px solid #fff;
    padding:10px;
    padding-left:40px;
    padding-right:40px;
}

.btn-rush:hover {
    color:#fff;
    font-size:24px;
}

.header-line{
    border: 1px solid #fff;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    margin-top:30px;
    width:60px;
}

.intro-overlay:before{
    background-color:rgba(255,0,0,0.5);
}

.content-section{
    padding-top:100px;
    padding-bottom:100px;
}

#about{
    background-color: #ecf0f0;
    color:#242424;
}

#about-left{
    text-align:left;
}

.container{
    max-width:100%;
    margin-bottom:0px;
    margin-top:0px;
}

.about-us-text{
    font-weight:bold;
    font-size:30px;
    margin-bottom:20px;
}

.about-us-line{
    border: 1px solid #000;
    margin-bottom:15px;
    width:30px;
}

.about-text{
    text-align:left;
    font-size:16px;
}

#whatwedo{
    font:inherit;
    padding-top:0px;
    color: black;
    background-color:#f0ece1;
    height:auto;
    padding-bottom:0px;
}

#whatwedo>p{
    font:inherit;
}

#profile{
    color:black;
}

.disabled>a:hover{
    cursor:default !important;
}

#profid{
    padding-top:0px;
}

.nav-tabs>li>a{
    border-radius:0px;
    max-height:40%;
    height:200px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    border:none;
}

ol, ul{list-style:none;}

.nav-tabs>li.disabled{
    max-height:40%;
    height:200px;
    border-radius:0px;
    border:none;
    margin-top:0px;
    padding-top:0px;
}

.nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border: none;
    border-radius:0px;
}

.nav-tabs.nav-justified>li>a:hover, .nav-tabs.nav-justified>li>a:focus {
    border: none;
    border-radius:0px;
}

.nav-tabs.nav-justified>li.active>a{
    max-height:40%;
    height:200px;
    border-radius:0px;
    border: none;
    margin-top:0px;
    padding-top:0px;
    background-color:#ed3940;
    max-width:100%;
}
.nav-tabs.nav-justified>li.active{
    max-width:25%;
}

.nav-tabs.nav-justified>li{
    max-width:25%;
}

.nav-tabs.nav-justified>li>a{
    border:none;
    max-width:100%;
    float:left;
    min-width:100%;
    color:black;
}


.nav-tabs.nav-justified>li.active>a{
    color:#fcf7f7;
}

#wwd-nav{
    padding:0px;
}

.wwd-circle-wrapper{
    padding-left:10%;
    max-width:90%;
}

.wwd-circle-text-wrapper{
    margin:none;
    padding:none;
    border:none;
    text-align:right;
    min-width:100%;
    max-width:100%;
    max-height:15%;
    margin-bottom:5%;
    margin-top:5%;
}

.italic{
    font-style:italic;
}

.wwd-circle {
    border: 3px solid black;
    border-radius: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);

    -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
    box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
    width: 32px;
    height: 32px;
    z-index: 86;

    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    margin-top:15%;
}

.nav-tabs.nav-justified>li.active>a>.wwd-sem>.wwd-circle-wrapper>.wwd-circle{
    border: 3px solid #fcf7f7;
}

.wwd-sem{
    max-width:100%;
}

#wwd-description{
    border-radius:0px;
    max-height:40%;
    height:200px;
    margin-top:0px;
    margin-bottom:0px;
    border:none;
}

#wwd-description:hover, #wwd-description:focus {
    background-color:inherit;
}

.wwd-line{
    margin-top:20%;
    border: 1px solid black;
    width:25%;
    margin-left:74%;
}


.wwd-description-text-wrapper{
    margin-top:5%;
    text-align:right;
    font-weight:bold;
    font-size:28px;
    padding-left:40px;
}

.social-wrapper{
    margin-top:20%;
}
#whatwedo > .tab-content {
    height:700px;
    color:#fcf7f7;
}

#philanthropy{
    height:100%;
    width:100%;
    background:
        linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url(../img/groupPhoto.jpg) no-repeat center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#professional{
    height:100%;
    width:100%;
    background:
        linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url(../img/groupPhoto.jpg) no-repeat center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#social{
    height:100%;
    width:100%;
    background:
        linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url(../img/social.jpg) no-repeat center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.sem-role-wrapper{
    height:33%;
    width:100%;
    padding:none;
    padding-top:4%;
}

.sem-line{
    border:2px solid white;
    width:3%;
    margin-left:auto;
    margin-right:auto;
}

.sem-text{
    font-weight:bold;
    font-size:30px;
    padding-top:2%;
}

.sem-italic-text{
    font-style:italic;
    font-size:18px;
    padding-top:1%;
}

.sem-info-wrapper{
    height:70%;
    width:100%;
    padding:none;
    text-align:left;
}

.sem-left-col-text{
    margin-left:2%;
    padding-left:6%;
    padding-right:2%;
}

.sem-right-col-text{
    margin-right:2%;
    padding-right:6%;
    padding-left:2%;
}

.sem-left-col-text>p, .sem-right-col-text>p{
    font-size:14px;
}

.co-social-speech-sm >p{
    font-size:12px;
}

.dothe-text-mobile >p{
    font-size:12px;
}
.sem-right-col-text>p{
    margin-bottom:4%;
}

.sem-sign-off{
    text-align:right;
}

.sem-name{
    padding-top:20%;
    color:#ed3940;
    font-weight:bold;
}

#ourpast{
    height:600px;
    width:100%;
    background-color:#ed3940;
}

#ourpast > .row{
    max-height:100%;
    height:100%;
}

.op-panel-text{
    height:100%;
    text-align:left;
}

.op-panel-companies{
    border:1px solid #eb383f;
    height:100%;
    width:60%;
    background: url(../img/where-weve-been.png) no-repeat center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.op-line{
    border:2px solid white;
    margin-top:5%;
    width:12%;
    margin-right:0px;
    padding-right:0px;
}

.op-top-text{
    padding-top:5%;
    font-size:28px;
    font-weight:bold;
}

.op-sm-text{
    padding-top:10%;
    padding-right:5%;
    font-size:12px;
    font-style:italic;
}














#brothers{
    color:black;
    margin-top:0px;
    padding-top:0px;
    text-align:center;
    padding-bottom:0px;
}

.brothers-header{
   color:white;
   background-color:#0d0a0d;
   height: 210px;
   padding-top:4%;
   margin:0px;
}

.brothers-line{
    border: 2px solid white;
    width:2%;
    margin-left:auto;
    margin-right:auto;
}

.brothers-text{
    padding-top:1%;
    font-weight:bold;
    font-size:28px;
    padding-right:none;
    margin-right:none;
}

.brothers-small-text{
    padding-top:1%;
    font-size:16px;
    font-style:italic;
}

.brothers-core{
    height:350px;
}

.brothers-core-five{
    height:100%;
    padding:2%;
    display:inline-block;
}

.core-eboard-wrapper{
    min-width:100%;
}

.brothers-core-line{
    width:15%;
    border:2px solid black;
}

.core-eboard-text{
    padding-top:15%;
    font-weight:bold;
    font-size:26px;
    text-align:left;
}

.brothers-core-img{
    height:100%;
    padding-top:1.5%;
}

.brothers-core-img-single{
    max-height:100%;
    height:100%;
    width:25%;
    text-align:left;
}

.core-img-setter > img {
    height:100%;
    width: 99%;
    max-height:250px;
    -moz-box-shadow: 2px 3px 5px 5px #ccc;
    -webkit-box-shadow: 2px 3px 5px 5px #ccc;
    box-shadow: 2px 3px 5px 5px #ccc;
}

.core-img-setter > img:hover {
    width:100%;
}

.core-img-title{
    padding-top:5%;
    font-weight:400;
    font-size:18px;
}

.core-img-name{
    font-size:16px;
    font-weight:200;
    padding-top:5px;
}

.brothers-core-img-single:hover {
    cursor:pointer;
    cursor:hand;
}

.brothers-sem-img-single:hover {
    cursor:pointer;
    cursor:hand;
}


.brothers-semester{
    background-color:#eaeaea;
    height:370px;
}

.brother-img-modal{
    min-height:100%;
}

.brother-img-modal>img{
    height:100%;
    width:100%;
}

.brothers-pc{
    height:200px;
    color:black;
    background-color:white;
}

.brothers-pc-epsilon{
    background-color:#f5e4e4;
}

.brothers-pc-zeta{
    background-color:#f2f2e4;
}

.brothers-pc-eta{
    background-color:white;
}


.pc-name-wrapper{
    margin:0px;
    margin-top:45%;
    padding:0px;
    border:1px solid yellow;
    text-align:left;
}

.pc-name{
    font-size:20px;
    font-family:sans-serif;
    font-weight:300;
}

.pc-year{
    font-size:18px;
    font-weight:200;
    font-style:italic;
    text-align:left;
    margin-bottom:7.5%;
}

.pc-img{
    padding-top:30px;
}

.pc-line{
    width:40px;
    border-bottom: 3px solid #ed3940;
}

.pc-sixper{
    height:170px;
    margin-top:20px;
}


.pc-img-only{
    margin-top:10px;
}

.pc-img-only > img {
    height:90%;
    width: 90%;
    max-height:130px;
    -moz-box-shadow: 2px 3px 5px 5px #ccc;
    -webkit-box-shadow: 2px 3px 5px 5px #ccc;
    box-shadow: 2px 3px 5px 5px #ccc;
}

.pc-img-only > img:hover {
    width:92%;
    cursor:pointer;
    cursor:hand;
}

.core-img-name-sm{
    padding-top:7px;
    font-size:14px;
}

.core-img-name-xs{
    padding-top:8px;
    font-size:13px;
}

.delta_canova{
    background:
        url(../img/canova.jpg) no-repeat center;
}

#rush{
    margin-top:0px;
    padding-top:40px;
    height:1050px;
    background-color:#ede7d3;
    color:black;
}

.rush-role-wrapper{
    height:15%;
}

.rush-line{
    margin-left:auto;
    margin-right:auto;
    width:25px;
    border:2px solid black;
    margin-bottom:15px;
}

.rush-title{
    font-weight:800;
    font-size:32px;
    margin-bottom:15px;
}

.rush-undertext{
    font-size:14px;
}

.rush-letter-wrapper{
    margin-top:2%;
    height:70%;
    margin-left:20%;
    margin-right:20%;
    text-align:left;
}

.rush-letter-wrapper >p {
    font-size:15px;
    margin-bottom:10px;
}

.rush-signoff{
    margin-top:3.5%;
    height:100px;
}

.rush-chair-signoff{
    margin-left:0px;
    padding-left:0px;
    padding-top:5px;
}

.rush-chair-name{
    font-weight:800;
    font-size:14px;
    text-align:left;
}

.rush-chair-title{
    font-weight:400;
    font-size:14px;
    text-align:left;
}

.rush-chair-contact{
    margin-top:10px;
    text-align:left;
    font-style:italic;
}

#recruit-info{
    margin:0px;
    padding-top:0px;
    text-align:left;
    height:750px;
    width:100%;
    background:
        linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url(../img/recruitment.jpg) no-repeat center scroll;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#recruit-info > .row{
    padding-bottom:44px;
}

.recruit-wrapper{
    margin-bottom:0px;
}

.recruit-line{
    width:30px;
    border:2px solid white;
}
.recruit-text{
    padding-top:10%;
    font-weight:bold;
    font-size:26px;
    text-align:left;
}

.triangle{
    margin-left:auto;
    margin-right:auto;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;

    border-top: 35px solid #ede7d3;
}

.triangle-down{
    margin-left:auto;
    margin-right:auto;
    padding-bottom:0px;
    margin-bottom:0px;

    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;

    border-bottom: 35px solid #f5f5eb;
}

.qa{
    padding-top:10px;
    font-size:20px;
}

.qa-question{
    padding-top:17px;
}

.qa-answer{
    padding-top:5px;
    font-size:14px;
}

.qa-red{
    color:#ed3940;
    padding-right:5px;
}

.qa-green{
    color: #9Be8b2;
    padding-right:5px;
}

#application{
    height:620px;
    color:black;
    padding-top:0px;
}

.application-main{
    background-color:#F5F5EB;
    height:100%;
    padding-top:40px;
    padding-bottom:49px;
}

.rush-role-wrapper{
    padding-bottom:22px;
}

.rush-row{
    height:40px;
    margin-bottom:10px;
}

.rush-input{
    margin-top:5px;
}

.file-upload{
    padding-top:7px;
    text-align:right;
    font-weight:bold;
    font-size:16px;
    color:#ed3940;
}

.btn-submit{
    width:100%;
    color:white;
    background-color:#ed3940;
}

#contact{
    padding-top: 20px;
    padding-bottom: 0px;
    height:240px;
    background-color:#ed3940;
}

.contact-line{
    margin-top:40px;
    margin-left:10%;
    color:white;
    width:40px;
    border:2px solid white;
}

.contact-text{
    padding-top:20px;
    text-align:left;
    font-size:30px;
    font-weight:400px;
}

.contact-labels{
    height:25px;
	padding-top: 25px;
}

.contact-info{
    padding-top:35px;
    text-align:left;
}


.contact-info{
    font-size:16px;
}

.contact-email{
    font-style:italic;
    text-align:right;
}

.contact-text{
    margin-bottom:5%;
}

.contact-name{
    padding-left:10px;
}

.contact-label-top{
    margin-top:0px;
}

.contact-title{
    font-style:italic;
    color:black;
    font-weight:600;
}