@media(max-width:800px){
    .recruit-wrapper{
        padding-left:7.5%;
    }

    .qa-question{
        font-size:18px;
        padding-left:10px;
    }

    .qa-answer{
        padding-left:10px;
    }

    #recruit-info{
        height:1330px;
    }

    #application{
        height:953px;
    }

    .rush-row{
        height:100px;
        margin-bottom:0px;
    }

    .rush-row > .col-md-3{
        margin-bottom:15px;
    }

    .file-upload{
        text-align:left;
    }

    #recruit-info > .row{
        padding-bottom:50px;
    }
}