/*
 * THIS IS FOR WHAT WE DO - MOBILE VERSION
 * */
@media(max-width:800px){
    .nav-tabs.nav-justified>li,
    .nav-tabs.nav-justified>li.active{
        max-width:100%;
    }
    .nav-tabs.nav-justified>li>a,
    .nav-tabs.nav-justified>li.active>a{
        max-height:150px;
        padding-bottom:2%;
        padding-top:2%;
    }
    .wwd-circle-text-wrapper{
        margin-top:5%;
    }

    .wwd-circle, .wwd-circle-wrapper{
        margin-top:2%;
    }

    .wwd-line{
        margin-top:10%;
        margin-bottom:5%;
    }

    .sem-role-wrapper{
        padding-top:10%;
        height:25%;
    }
    .sem-info-wrapper{
        height:60%;
    }

    .sem-name{
        padding-top:0%;
    }

    .sem-left-col-text>p{
        margin-bottom:5px;
    }

    .sem-right-col-text{
        margin-left: 2%;
        padding-left: 6%;
        padding-right: 2%

    }

    .misha-adrian > img{
        font-size:14px;
        max-width:25px;
    }

    .navbar-custom .navbar-brand{
        font-weight:400;
        width:250px;
        font-size:16px;
        padding-top:20px;
    }

    .op-panel-text{
        height:33%;
    }

    .op-panel-companies{
        height:50%;
        width:100%;
    }

    #ourpast{
        padding-top:20px;
        height:550px;
    }

    #whatwedo > .tab-content {
        height:1200px;
    }
}